<<<<<<< HEAD
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
background-image:linear-gradient(181.50120219834798deg, rgba(232, 209, 213,1) 6.608579446419315%,rgba(231, 208, 212,1) 6.608579446419315%,rgba(175, 158, 161,1) 27.17940106788206%,rgba(90, 81, 85,1) 58.602545906966874%,rgba(22, 20, 23,1) 84.35656667714463%);
font-family:serif;
  align-items: center;
  justify-content: center;
background-size: cover;
height:745px;
}
.container{
  background-color:white;
  margin-top: 100px;
  position: relative;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  background-size: cover;
background-repeat: no-repeat;
}
.heading{
  text-align: center;
}
.mainbox{
  align-items: center;
}
.heading .label{
 color: white;
}
.heading .box{
 height: 20px;
 width: 250px;
 border-radius: 2px;
 font-size: 15px;
}
.heading .button{

  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgba(238, 230, 230, 1);
  border-color:#337bc4;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  text-shadow: 0px 1px 0px rgba(90, 101, 113, 1);
  background:linear-gradient(rgba(140, 181, 224, 1), rgba(47, 140, 236, 1));
}

.button:hover {
  background: linear-gradient(rgba(47, 140, 236, 1), rgba(140, 181, 224, 1));
}

.googlemsg{
 display: inline-block;
padding: 10px;
}
.facebookmsg{
display: inline-block;
padding: 10px;
}
.twittermsg{
display: inline-block;
padding: 10px;
}
.googlemsg:hover{
  color: white;
}
.facebookmsg:hover{
  color: white;
}
.twittermsg:hover{
  color: white;
}
nav ul li a{
  color: white;
  font-size: 20px;
  padding: 7px 13px;
}
nav ul li{
  display: inline-block;
  line-height: 2;
  margin: auto;
  padding: 20px;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav{
  background: black;
  height: 80px;
  width: 100%;
}
.logo{
  color: white;
  font-size: 50px;
  line-height: 80px;
  padding: 0 100px;
   font-weight: normal;
}
a.active,a:hover{
  background-color: #EEEEEE;

}
h4{
  color: black;
}
=======
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
background-image:linear-gradient(181.50120219834798deg, rgba(232, 209, 213,1) 6.608579446419315%,rgba(231, 208, 212,1) 6.608579446419315%,rgba(175, 158, 161,1) 27.17940106788206%,rgba(90, 81, 85,1) 58.602545906966874%,rgba(22, 20, 23,1) 84.35656667714463%);
font-family:serif;
  align-items: center;
  justify-content: center;
background-size: cover;
height:745px;
}
.container{
  background-color:white;
  margin-top: 100px;
  position: relative;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  background-size: cover;
background-repeat: no-repeat;
}
.heading{
  text-align: center;
}
.mainbox{
  align-items: center;
}
.heading .label{
 color: white;
}
.heading .box{
 height: 20px;
 width: 250px;
 border-radius: 2px;
 font-size: 15px;
}
.heading .button{

  font-size:15px;
  font-family:Arial;
  width:140px;
  height:40px;
  border-width:1px;
  color:rgba(238, 230, 230, 1);
  border-color:#337bc4;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  text-shadow: 0px 1px 0px rgba(90, 101, 113, 1);
  background:linear-gradient(rgba(140, 181, 224, 1), rgba(47, 140, 236, 1));
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(rgba(47, 140, 236, 1), rgba(140, 181, 224, 1));
}

.googlemsg{
 display: inline-block;
padding: 10px;
}
.facebookmsg{
display: inline-block;
padding: 10px;
}
.twittermsg{
display: inline-block;
padding: 10px;
}
.googlemsg:hover{
  color: white;
}
.facebookmsg:hover{
  color: white;
}
.twittermsg:hover{
  color: white;
}
nav ul li a{
  color: white;
  font-size: 20px;
  padding: 7px 13px;
}
nav ul li{
  display: inline-block;
  line-height: 2;
  margin: auto;
  padding: 20px;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav{
  background: black;
  height: 80px;
  width: 100%;
}
.logo{
  color: white;
  font-size: 50px;
  line-height: 80px;
  padding: 0 100px;
   font-weight: normal;
}
a.active,a:hover{
  background-color: #EEEEEE;

}

h4{
  color: black;
}
>>>>>>> 563044389461b682028654181c3b7a71c388dd9e
